@{
    ViewData["Title"] = "Home Page";
}


<div style="display: flex; align-items: center;">
    <img src="~/lib/bootstrap/dist/css/IMG_2615.jpg" height="350" />
    <div style="padding: 50px;">

        @if (!this.User.Identity.IsAuthenticated)
        {
            <h4>
                Добре дошли в сайта на готините проекти!
            </h4>
        }
        else
        {
            if (this.User.IsInRole("Admin"))
            {
                <h4>Добре дошли, админ</h4>
            }
            else
            {
                <h4>Добре дошли, @this.User.Identity.Name</h4>
            }
        }
        <br />
        Проектът е приложение, реализирано чрез слой за данни, слой за услуги и презентационен слой. Приложението има Web базиран интерфейс. Проектът спазва официалните препоръки (style guide) за C# на Microsoft и разполага със описващи коментари. По време на работата върху проекта се използваше git система.
    </div>
</div>




