@model Hotel_Rsesrvations.Models.ReservationClient

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Премахване на клиент от резервация</h1>

<h3>Сигурни ли сте, че искате да премахнете този клиент от резервацията?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Резервация
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Id)
        </dd class>
        <dt class = "col-sm-2">
            Клиент
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.firstName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservationId" />
        <input type="hidden" asp-for="ClientId" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Назад към списък с резервация-клиент връзки</a>
    </form>
</div>
